{{ define "root" }}
<!DOCTYPE html>
<html>
    <head>
        <title>Archive</title>
        <link rel="stylesheet" href="/css/archive.css">
    </head>
    <body>
        <ul>
            <li onclick="toggle('reply', 'hidden');">Toggle Replies</li>
        </ul>
        <ul>
            {{ range .Emails }}
            <li class="{{ if .Message.InReply }}reply hidden{{end}}">
                    {{ .Message.Date }} &mdash; <a href="/email/{{ .Message.MessageId }}">{{ .Message.Subject }}</a>
                </li>
            {{ end }}
        </ul>
        <script type="text/javascript" src="/js/archive.js" async></script>
    </body>
</html>
{{ end }}
